.container{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 30px;
  }

  .jumbotron {
      background-color: midnightblue;
      border-bottom: solid 10px crimson;
      margin-bottom: 1em;
      /* min-width: 100% !important; */
  }
  