.container{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 30px;
  }

  .jumbotron {
      background-color: darkblue;
      border-bottom: solid 10px red;
      margin-bottom: 1em;
  }
  