table {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 80% !important;
  /* margin-left: auto; */

}

td {
    vertical-align: middle !important;
}

th {
    min-width: 1px;
}

/* @media (min-width: 576px) { ... } */
