table {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 80% !important;
}

td {
    vertical-align: middle !important;
}

th {
    min-width: 1px;
}

th.carrot::after {
    content: "🔻";
    }


th.carrot:hover::after {
    content: "🔻";
    font-size: 125%;
    }
    
